<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.Dmian0.SlideTabSafari</string>
    <key>CFBundleName</key>
    <string>SlideTabSafari</string>
    <key>CFBundleExecutable</key>
    <string>SlideTabSafari</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>SlideTabSafari needs to send Apple Events to Safari to change tabs.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>SlideTabSafari needs Accessibility access to detect trackpad swipes and switch tabs.</string>
</dict>
</plist>
